<div>
  <form [formGroup]="myForm" (ngSubmit)="registro()"> 
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email">
          <div *ngIf="myForm.get('email').errors && myForm.get('email').dirty">*campo email obligatorio.</div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password"formControlName="password">
        </div>
        <div *ngIf="myForm.get('password').errors && myForm.get('password').dirty">*campo password obligatorio.</div>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresá tu nombre"formControlName="nombre">
      </div>
      <div *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">*campo nombre obligatorio.</div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" placeholder="Ingresá tu nombre"formControlName="apellido">
      </div>
      <div *ngIf="myForm.get('apellido').errors && myForm.get('apellido').dirty">*campo apellido obligatorio.</div>
      <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="text" class="form-control" id="telefono" placeholder="Ingresá tu nro de teléfono ej: 01122647382"formControlName="telefono" >
        </div>
      
      <button type="submit" class="btn btn-primary" value="Registrarse">Registrate</button>
    </form>
</div>
